[defaults]

# location of inventory file, eliminates need to specify -i
# host list arguement
inventory = hosts

# connection to use when -c <connection_type> is not specified
# defaults to ssh. this playbook runs locally on this machine
# eliminates the need to specify -c throughout the playbooks
# as this playbook is run on local machine below value avoids
# usage on connection arguement
transport = local
